[submodule "src/bloben-common"]
	path = src/bloben-common
	url = git@github.com:nibdo/bloben-common.git
[submodule "src/bloben-package"]
	path = src/bloben-package
	url = git@github.com:nibdo/bloben-package.git
[submodule "src/ical-js-parser"]
	path = src/ical-js-parser
	url = git@github.com:nibdo/ical-js-parser.git
[submodule "src/bloben-utils"]
	path = src/bloben-utils
	url = git@github.com:nibdo/bloben-utils.git
[submodule "src/bloben-components"]
	path = src/bloben-components
	url = git@github.com:nibdo/bloben-components.git
[submodule "src/bloben-module"]
	path = src/bloben-module
	url = git@github.com:nibdo/bloben-module.git
